.header {
    /* box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.07); */
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    /* border-bottom: 1px solid #d3d3d3; */
    /* padding: 1rem 3rem; */
    display: grid;
    position: sticky;
    top: -34px;
    z-index: 10;
    left: 0;
}
.header_top {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    grid-gap: 7rem;
    font-size: 14px;
    
    /* padding: 0 5%; */
    /* width: 1420px; */
    padding: 0 10%;
}
.header_top * {
    color: rgb(207, 207, 207);
}
.header_top__wrapper {
    display: grid;
    /* justify-content: center; */
    background-color: rgb(39, 39, 39);
}
.header_top__middle {
    color: #696969;
    display: grid;
    justify-self: start;
    cursor: pointer;
    transition: 0.1s;
}
.header_top__middle:hover {
    color: rgb(255, 255, 255);
    transition: 0.1s;
}
.header_top__left {
    color: #696969;
    padding: 0.5rem 0;
}
.header_top__left span {
    cursor: pointer;
}
.header_top__left span:hover {
    color: #fff;
}
.header_top__right {
    /* background-color: #ebebeb; */
    /* padding: 0.5rem 0; */
    /* grid-gap: 1rem; */
    display: grid;
    cursor: default;
    color: #696969;
    grid-template-columns: auto auto auto;
}
.login:hover,
.registration:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
}
.logo::ng-deep {
    /* height: 20px; */
}
.header_bottom__wrapper {
    display: grid;
    /* justify-content: center; */
    background: #fff;
    /* position: sticky; */
}
.header_bottom {
    display: grid;
    padding: 1rem 10%;
    grid-template-columns: auto auto 1fr auto;
    grid-gap: 1rem;
    align-items: center;
    /* width: 1420px; */
}
.logo {
    font-size: 14px;
    display: grid;
    grid-template-rows: auto auto;
}
strong {
    font-weight: 500;
    color: #1400FF;
}
.header_bottom__tabs {
    justify-content: end;
    padding-right: 3rem;
    grid-gap: 4rem;
    font-size: 14px;
    display: grid;
    grid-template-columns: repeat(3, auto);
}
.tab {
    cursor: pointer;
    color: rgb(109, 109, 109);
}
.tab:hover{
    color: #000;
}
.logo-svg {
    cursor: pointer;
}
.active {
    color: blue;
}