<div class="item" routerLink="/product-details/{{data._id}}">
    <div class="img">
        <img src="{{data.image}}" alt="">
    </div>
    <div class="col-col">
        <div class="rating"><span class="material-icons">
            grade
            </span> {{data.rating}}</div>
        <div class="reviews">Отзывы({{data.reviews.length}})</div>
    </div>
    <div class="name">{{data.name}}</div>
    <div class="description">{{data.description}}</div>
    <div class="category">Категория: <strong> {{data.category.name}}</strong></div>
    <div class="col-col">
        <div class="rent-type">{{data.typeOfRent}}</div>
        <div class="price">{{data.price}} ₸</div>
    </div>

    <div class="buttons">
        <div class="like">
            <span class="material-icons">
                favorite
                </span>
        </div>
        <div class="chat">
            <span class="material-icons">
                chat
                </span>
        </div>
    </div>
</div>
