<div class="search">
    <div class="search_title">Поиск</div>
    <div class="home_search">
        <app-search [dummy]="false"></app-search>
        <div class="social">
            <div class="icon">
                <app-svg [name]="'facebook'"></app-svg>
            </div>
            <div class="icon">
                <app-svg [name]="'instagram'"></app-svg>
            </div>
            <div class="icon">
                <app-svg [name]="'telegram'"></app-svg>
            </div>
            <div class="icon">
                <app-svg [name]="'vk'"></app-svg>
            </div>
        </div>
    </div>
</div>