<div class="login">
  <div class="input-group">
    <div class="input-item">
      <div></div>
      <div class="title">Добро пожаловать</div>
    </div>
    <div class="input-item">
      <div class="label">Электронная почта</div>
      <input type="text" placeholder="abc@example.com" name="email" [(ngModel)]="loginModel.email" >
    </div>
    <div class="input-item">
      <div class="label">Пароль</div>
      <input type="password" [(ngModel)]="loginModel.password" name="password">
    </div>

    <div *ngFor='let error of errors'>
      {{error}}
    </div>
    <div class="input-item">
      <div></div>
      <div class="button">
        <app-button [type]="'primary'" [text]="'Войти'" (click)="onSubmit()"></app-button>
        <div>Не могу вспомнить пароль</div>
        <div class="switch" routerLink="/registration">Зарегистрироваться</div>
      </div>
    </div>
  </div>
  <div class="promotion">
    <div class="logo-wrapper">
      <div class="logo-svg" routerLink="/">
        <app-svg [name]="'logo'"></app-svg>
      </div>
      <div class="logo">
        <span><strong>arend.</strong> — сервис</span>
        <span>по аренде вещей</span>
      </div>
    </div>
    <div class="promotion_text">
        Мы - сервис аренды без залога. Помогаем владельцам и арендаторам находить друг друга и совершать безопасные сделки онлайн.
    </div>
    <div class="social">
        <div class="social_text">Будь в курсе выгодных сделок:</div>
        <div class="social_icons">
            <div class="icon">
                <app-svg [name]="'facebook'"></app-svg>
            </div>
            <div class="icon">
                <app-svg [name]="'instagram'"></app-svg>
            </div>
            <div class="icon">
                <app-svg [name]="'telegram'"></app-svg>
            </div>
            <!-- <div class="icon">
                <app-svg [name]="'vk'"></app-svg>
            </div> -->
        </div>
    </div>
  </div>
</div>