.outlet-wrapper {
    /* display: grid; */
    /* justify-items: center; */
    width: 1310px;
    padding-top: 150px;
}
.wrapper-wrapper {
    display: grid;
    justify-content: center;
    min-height: 100vh;
    margin-top: -100px;
    background: #fafcfe;
}