<div class="title">Создание объявления</div>
<div class="subtitle">Основная информация</div>
<div class="input-group">
    <div class="input-item">
        <div class="label">Название объявления</div>
        <input type="text" name="name" required [(ngModel)]="productModel.name" 
        #name="ngModel" [class.is-invalid]="name.invalid && name.touched"
        [class.is-valid]="name.valid">
        <div class="warning" *ngIf="name.invalid && name.touched">Введите название объявления</div>
        <div class="valid" *ngIf="name.valid">
            <span class="material-icons">done</span>
        </div>
    </div>
    <div class="input-item" [ngStyle]="{'align-items': 'start'}">
        <div class="label" [ngStyle]="{'margin-top': '17px'}">Подробное описание</div>
        <textarea name="description" required [(ngModel)]="productModel.description"
        rows="5" #description="ngModel" [class.is-invalid]="description.invalid && description.touched"
        [class.is-valid]="description.valid"></textarea>
        <div class="warning" 
        *ngIf="description.invalid && description.touched"
        [ngStyle]="{'margin-top' : '17px'}">Введите подробное описание</div>
        <div class="valid" [ngStyle]="{'margin-top' : '10px'}" *ngIf="description.valid">
            <span class="material-icons">done</span>
        </div>
    </div>
    <div class="input-item">
        <div class="label">Категория и подкатегория</div>
        <div class="input-item_row">
            <select name="categories" required [(ngModel)]="productModel.category._id" (change)="onBlur()"
            #category="ngModel" [class.is-invalid]="category.invalid && category.touched"
            [class.is-valid]="category.valid">
                <option value="" disabled>Выберите категорию</option>
                <option [value]="c._id" *ngFor="let c of categories">{{c.name}}</option>
            </select>
            <select name="subcategories" required [(ngModel)]="productModel.subcategory._id"
            #subcategory="ngModel" [class.is-invalid]="subcategory.invalid && subcategory.touched"
            [class.is-valid]="subcategory.valid">
                <option value="" disabled>Выберите подкатегорию</option>
                <option [value]="s._id" *ngFor="let s of subcategories">{{s.name}}</option>
            </select>
        </div>
        <div class="warning" *ngIf="(category.invalid && category.touched) || (subcategory.invalid && subcategory.touched)">
            Укажите категорию и подкатегорию объявления</div>
        <div class="valid" *ngIf="(category.valid) && (subcategory.valid)">
            <span class="material-icons">done</span>
        </div>
    </div>
    <div class="input-item">
        <div class="label">Прайс-лист с периодом</div>
        <div class="input-item_row" [ngStyle]="{'grid-template-columns' : '1fr 1fr 1fr'}">
            <input type="text" currencyMask 
            [options]="{ align: 'left', prefix: '', precision: '0', suffix: ' ₸', thousands: ' ', decimal: '' }" 
            placeholder="За час" [(ngModel)]="productModel.priceForHour" name="priceForHour"
            #hourPrice="ngModel" [class.is-valid]="productModel.priceForHour">
            <input type="text" currencyMask 
            [options]="{ align: 'left', prefix: '', precision: '0', suffix: ' ₸', thousands: ' ', decimal: '' }" 
            placeholder="За день" [(ngModel)]="productModel.priceForDay" name="priceForDay"
            #dayPrice="ngModel" [class.is-valid]="productModel.priceForDay">
            <input type="text" currencyMask 
            [options]="{ align: 'left', prefix: '', precision: '0', suffix: ' ₸', thousands: ' ', decimal: '' }" 
            placeholder="За неделю" [(ngModel)]="productModel.priceForWeek" name="priceForWeek"
            #weekPrice="ngModel" [class.is-valid]="productModel.priceForWeek">
        </div>
        <!-- validate on submission -->
        <!-- <div class="warning" *ngIf="!productModel.priceForDay && !productModel.priceForHour && !productModel.priceForWeek">
            Укажите категорию и подкатегорию объявления</div> -->
        <div class="valid" *ngIf="productModel.priceForDay || productModel.priceForHour || productModel.priceForWeek">
            <span class="material-icons">done</span>
        </div>
    </div>
    <div class="input-item">
        <div class="label">Изображение</div>
        <input type="text" [(ngModel)]="productModel.image" name="image">
    </div>    
</div>
<div class="subtitle" [ngStyle]="{'margin-top': '2rem'}">Контактные данные</div>
<div class="input-group">
    <div class="input-item">
        <div class="label">Ваше имя</div>
        <input type="text" name="username" required #username="ngModel" 
        [(ngModel)]="productModel.user.name" [class.is-invalid]="username.invalid && username.touched"
        [class.is-valid]="username.valid">
        <div class="warning" *ngIf="username.invalid && username.touched">Введите Ваше имя</div>
        <div class="valid" *ngIf="username.valid">
            <span class="material-icons">done</span>
        </div>
    </div>
    <div class="input-item">
        <div class="label">Номер телефона и e-mail</div>
        <div class="input-item_row">
            <!-- validate on submission -->
            <input type="text" name="phone" [textMask]="{mask: mask}" required
            placeholder="+7 (___) ___-____" [(ngModel)]="productModel.user.phone" #phone="ngModel"
            [class.is-invalid]="phone.touched && !phonenumber(productModel.user.phone)"
            [class.is-valid]="phone.valid && phonenumber(productModel.user.phone)">
            <input type="text" name="email" placeholder="Е-mail" [(ngModel)]="productModel.user.email" 
            #email="ngModel" required [class.is-invalid]="email.touched && !emailValidation(productModel.user.email)"
            [class.is-valid]="email.valid && emailValidation(productModel.user.email)">
        </div>
        <div>
            <div class="warning" *ngIf="phone.invalid && phone.touched">Введите Ваш номер телефона</div>
            <div class="warning" *ngIf="phone.touched && !phonenumber(productModel.user.phone) && productModel.user.phone">Проверьте правильность номера телефона</div>
            <div class="warning" *ngIf="email.invalid && email.touched">Введите Ваш E-mail</div>
            <div class="warning" *ngIf="email.touched && !emailValidation(productModel.user.email) && productModel.user.email">Проверьте правильность электронной почты</div>
            <div class="valid" *ngIf="(phone.valid && phonenumber(productModel.user.phone) && (email.valid && emailValidation(productModel.user.email)))">
                <span class="material-icons">done</span>
            </div>
        </div>
    </div>
</div>
<div class="button-group">
    <div></div>
    <div class="button">
        <app-button [type]="'primary'" [text]="'Создать объявление'" 
        *ngIf="(name.valid) &&
        (description.valid) &&
        (productModel.priceForDay || productModel.priceForHour || productModel.priceForWeek) &&
        (category.valid) && (subcategory.valid) &&
        (username.valid) &&
        (phone.valid && phonenumber(productModel.user.phone) && (email.valid && emailValidation(productModel.user.email)));
        else disabledButton"
        (click)="onSubmit()"></app-button>
        <ng-template #disabledButton>
            <app-button [type]="'primary'" [text]="'Создать объявление'" [isDisabled]="true"></app-button>
        </ng-template>
        <app-button 
        *ngIf="(name.valid) &&
        (description.valid) &&
        (productModel.priceForDay || productModel.priceForHour || productModel.priceForWeek) &&
        (category.valid) && (subcategory.valid) &&
        (username.valid) &&
        (phone.valid && phonenumber(productModel.user.phone) && (email.valid && emailValidation(productModel.user.email)));
        else disabledSecondaryButton"
        (click)="onPreview()" [type]="'secondary'" [text]="'Предварительный просмотр'"></app-button>
        <ng-template #disabledSecondaryButton>
            <app-button [type]="'secondary'" [text]="'Предварительный просмотр'" [isDisabled]="true"></app-button>
        </ng-template>
    </div>
</div>