<div class="title">Создание объявления</div>
<div class="subtitle">Основная информация</div>
<div class="input-group">
    <div class="input-item">
        <div class="label">Название объявления</div>
        <input type="text" name="name" required [(ngModel)]="productModel.name" 
        #name="ngModel" [class.is-invalid]="name.invalid && name.touched"
        [class.is-valid]="name.valid && name.touched">
        <div class="warning" *ngIf="name.invalid && name.touched">Введите название объявления</div>
        <div class="valid" *ngIf="name.valid && name.touched">
            <span class="material-icons">done</span>
        </div>
    </div>
    <div class="input-item" [ngStyle]="{'align-items': 'start'}">
        <div class="label" [ngStyle]="{'margin-top': '17px'}">Подробное описание</div>
        <textarea name="description" required [(ngModel)]="productModel.description"
        rows="5" #description="ngModel" [class.is-invalid]="description.invalid && description.touched"
        [class.is-valid]="description.valid && description.touched"></textarea>
        <div class="warning" 
        *ngIf="description.invalid && description.touched"
        [ngStyle]="{'margin-top' : '17px'}">Введите подробное описание</div>
        <div class="valid" [ngStyle]="{'margin-top' : '10px'}" *ngIf="description.valid && description.touched">
            <span class="material-icons">done</span>
        </div>
    </div>
    <div class="input-item">
        <div class="label">Категория и подкатегория</div>
        <div class="input-item_row">
            <select name="categories" required [(ngModel)]="productModel.category" (change)="onBlur()"
            #category="ngModel" [class.is-invalid]="category.invalid && category.touched"
            [class.is-valid]="category.valid && category.dirty">
                <option value="" disabled>Выберите категорию</option>
                <option [value]="c._id" *ngFor="let c of categories">{{c.name}}</option>
            </select>
            <select name="subcategories" required [(ngModel)]="productModel.subcategory"
            #subcategory="ngModel" [class.is-invalid]="subcategory.invalid && subcategory.touched"
            [class.is-valid]="subcategory.valid && subcategory.dirty">
                <option value="" disabled>Выберите подкатегорию</option>
                <option [value]="s._id" *ngFor="let s of subcategories">{{s.name}}</option>
            </select>
        </div>
        <div class="warning" *ngIf="(category.invalid && category.touched) || (subcategory.invalid && subcategory.touched)">
            Укажите категорию и подкатегорию объявления</div>
        <div class="valid" *ngIf="(category.valid && category.dirty) && (subcategory.valid && subcategory.dirty)">
            <span class="material-icons">done</span>
        </div>
    </div>
    <div class="input-item">
        <div class="label">Прайс-лист с периодом</div>
        <div class="input-item_row" [ngStyle]="{'grid-template-columns' : '1fr 1fr 1fr'}">
            <input type="text" currencyMask 
            [options]="{ align: 'left', prefix: '', precision: '0', suffix: ' ₸', thousands: ' ', decimal: '' }" 
            placeholder="За час" [(ngModel)]="productModel.priceForHour" name="priceForHour"
            #hourPrice="ngModel" [class.is-valid]="productModel.priceForHour">
            <input type="text" currencyMask 
            [options]="{ align: 'left', prefix: '', precision: '0', suffix: ' ₸', thousands: ' ', decimal: '' }" 
            placeholder="За день" [(ngModel)]="productModel.priceForDay" name="priceForDay"
            #dayPrice="ngModel" [class.is-valid]="productModel.priceForDay">
            <input type="text" currencyMask 
            [options]="{ align: 'left', prefix: '', precision: '0', suffix: ' ₸', thousands: ' ', decimal: '' }" 
            placeholder="За неделю" [(ngModel)]="productModel.priceForWeek" name="priceForWeek"
            #weekPrice="ngModel" [class.is-valid]="productModel.priceForWeek">
        </div>
        <!-- validate on submission -->
        <!-- <div class="warning" *ngIf="!productModel.priceForDay && !productModel.priceForHour && !productModel.priceForWeek">
            Укажите категорию и подкатегорию объявления</div> -->
        <div class="valid" *ngIf="productModel.priceForDay || productModel.priceForHour || productModel.priceForWeek">
            <span class="material-icons">done</span>
        </div>
    </div>
    <div class="input-item">
        <div class="label">Изображение</div>
        <input type="text" [(ngModel)]="productModel.image" name="image">
    </div>    
</div>
<div class="subtitle" [ngStyle]="{'margin-top': '2rem'}">Контактные данные</div>
<div class="input-group">
    <div class="input-item">
        <div class="label">Ваше имя</div>
        <input type="text" name="username" [(ngModel)]="productModel.username" >
    </div>
    <div class="input-item">
        <div class="label">Номер телефона и e-mail</div>
        <div class="input-item_row">
            <input type="text" name="phone" [textMask]="{mask: mask}" placeholder="+7 (___) ___-____" [(ngModel)]="productModel.phone" >
            <input type="text" name="email" placeholder="Е-mail" [(ngModel)]="productModel.email" >
        </div>
    </div>
</div>
<div class="button-group">
    <div></div>
    <div class="button">
        <app-button [type]="'primary'" [text]="'Создать объявление'" (click)="onSubmit()"></app-button>
        <app-button [type]="'secondary'" [text]="'Предварительный просмотр'" (click)="onSubmit()"></app-button>
    </div>
</div>