<div class="input-group">
    <div class="input-item">
        <div></div>
        <div class="title">Создание объявления</div>
    </div>
    <div class="input-item">
        <div class="label">Титул</div>
        <input type="text" name="name" [(ngModel)]="productModel.name" >
    </div>
    <div class="input-item">
        <div class="label">Краткое описание</div>
        <input type="text" [(ngModel)]="productModel.information" name="information">
    </div>
    <div class="input-item">
        <div class="label">Подробное описание</div>
        <input type="text" [(ngModel)]="productModel.description" name="description">
    </div>
    <div class="input-item">
        <div class="label">Категория</div>
        <select name="categories" [(ngModel)]="productModel.category" (change)="onBlur()">
            <option value="" disabled>Выберите категорию</option>
            <option [value]="c._id" *ngFor="let c of categories">{{c.name}}</option>
        </select>
    </div>
    <div class="input-item">
        <div class="label">Подкатегория</div>
        <select name="subcategories" [(ngModel)]="productModel.subcategory">
            <option value="" disabled>Выберите подкатегорию</option>
            <option [value]="s._id" *ngFor="let s of subcategories">{{s.name}}</option>
        </select>
    </div>
    <div class="input-item">
        <div class="label">Тип аренды</div>
        <input type="text" [(ngModel)]="productModel.typeOfRent" name="typeOfRent">
    </div>
    <div class="input-item">
        <div class="label">Цена</div>
        <input type="text" [(ngModel)]="productModel.price" name="price">
    </div>
    <div class="input-item">
        <div class="label">Изображение</div>
        <input type="text" [(ngModel)]="productModel.image" name="image">
    </div>
    <div class="input-item">
        <div class="label">Ключевые слова</div>
        <input type="text" [(ngModel)]="productModel.keywords" name="keywords">
    </div>
    <div class="input-item">
        <div></div>
        <div class="button">
            <app-button [type]="'primary'" [text]="'Создать объявление'" (click)="onSubmit()"></app-button>
        </div>
    </div>
</div>