<div class="home" *ngIf="isLoaded">
    <div class="home_title">Главное</div>
    <div class="home_search">
        <!-- <input type="text"> -->
        <app-search></app-search>
        <div class="social">
            <div class="icon">
                <app-svg [name]="'facebook'"></app-svg>
            </div>
            <div class="icon">
                <app-svg [name]="'instagram'"></app-svg>
            </div>
            <div class="icon">
                <app-svg [name]="'telegram'"></app-svg>
            </div>
            <div class="icon">
                <app-svg [name]="'vk'"></app-svg>
            </div>
        </div>
    </div>
    <!-- <div class="home_title">Популярное на <strong>рента.</strong></div> -->


    <div class="home_popular">
        <div class="home_popular__left">
            <div class="home_subtitle">Популярное из рубрик</div>
        </div>
        <div class="home_popular__right">
            <div class="home_subtitle">Акции и новости</div>
            <div class="home_popular__right___content">
                <div *ngFor="let n of news">
                    <app-news-card [text]="n.text" [img]="n.img"></app-news-card>
                </div>
            </div>
        </div>
    </div>
    <div class="home_how">
        <div class="home_title">Как пользоваться?</div>
        <div class="home_how__content">
            <app-action-card [img]="'assets/img/action1.png'" [title]="'Возьмите на время'"
                [text]="'Аренда - лучшее решение, когда нужна вещь на короткое время'" [action]="'Найти ваш товар'">
            </app-action-card>

            <app-action-card [img]="'assets/img/action2.png'" [title]="'Одолжите другим'"
                [text]="'Сдайте в аренду то, что не нужно сейчас, но пригодится позже'" [action]="'Сдать в аренду'">
            </app-action-card>

            <app-action-card [img]="'assets/img/action3.png'" [title]="'Возьмите на время'"
                [text]="'Мы приведем новых клиентов. Оплата только за сделку'" [action]="'Стать партнером'">
            </app-action-card>
        </div>
    </div>

    <div class="home_about">
        <div class="home_title">О сервисе</div>
        <div class="home_about__content">
            <div class="home_about__content___item">
                <div class="home_subtitle">Наша миссия</div>
                Онлайн-площадка, где каждый может сдать временно ненужную или
                арендовать нужную вещь:
                одежду и детские товары, электронику и спортивный инвентарь, инструменты и декор.
                Лучше, чем прокат. Больше, чем доска объявлений.
            </div>
            <div class="home_about__content___item">
                <div class="home_subtitle">Наши клиенты</div>
                Костяк аудитории от 18 до 45 лет – люди с активной жизненной позицией. Зачастую это люди не про
                "экономить", а про "разумно потреблять".
                Мы работаем по всей России, но упор в развитии делаем на Москву, Санкт-Петербургу и их области.
            </div>
        </div>
    </div>
</div>

<div *ngIf="!isLoaded"><app-loader></app-loader></div>