<div class="home">
    <div class="home_title">Главное</div>
    <div class="home_search">
        <!-- <input type="text"> -->
        <app-search></app-search>
        <div class="social">
            <div class="icon">
                <app-svg [name]="'facebook'"></app-svg>
            </div>
            <div class="icon">
                <app-svg [name]="'instagram'"></app-svg>
            </div>
            <div class="icon">
                <app-svg [name]="'telegram'"></app-svg>
            </div>
            <div class="icon">
                <app-svg [name]="'vk'"></app-svg>
            </div>
        </div>
    </div>
    <!-- <div class="home_title">Популярное на <strong>рента.</strong></div> -->


    <div class="home_popular">
        <div class="home_popular__left">
            <div class="home_subtitle">Популярное из рубрик</div>
        </div>
        <div class="home_popular__right">
            <div class="home_subtitle">Акции и новости</div>
        <div class="home_popular__right___content">
                <div *ngFor="let n of news">
                    <app-news-card [text]="n.text" [img]="n.img"></app-news-card>
                </div>
            </div>
        </div>
    </div>
</div>