<div class="home">
    <div class="home_how">
        <!-- <div class="home_title">Как пользоваться?</div> -->
        <div class="home_how__content">
            <app-action-card [img]="'assets/img/action1.png'" [title]="'Арендуйте'"
                [text]="'Аренда - идеальное решение, когда нужна вещь на непродолжительный срок'" [action]="'Найти ваш товар'">
            </app-action-card>

            <app-action-card [img]="'assets/img/action2.png'" [title]="'Заработайте'"
                [text]="'Сдайте в безопасную аренду временно ненужную вещь'" [action]="'Сдать в аренду'">
            </app-action-card>

            <app-action-card [img]="'assets/img/action3.png'" [title]="'Расширьте бизнес'"
                [text]="'Теперь не нужно волноваться о привлечении новых клиентов. Мы сделаем это за вас'" [action]="'Стать партнером'">
            </app-action-card>
        </div>
    </div>
    <div class="home_title">Главная</div>
    <div class="home_search">
        <!-- <input type="text"> -->
        <app-search routerLink="/search" [dummy]="true"></app-search>
        <div class="social">
            <div class="icon">
                <app-svg [name]="'instagram'"></app-svg>
            </div>
            <div class="icon">
                <app-svg [name]="'facebook'"></app-svg>
            </div>
            <div class="icon">
                <app-svg [name]="'telegram'"></app-svg>
            </div>
            <!-- <div class="icon">
                <app-svg [name]="'vk'"></app-svg>
            </div> -->
        </div>
    </div>
    <!-- <div class="home_title">Популярное на <strong>рента.</strong></div> -->


    <div class="home_popular">
        <div class="home_popular__left">
            <div class="home_subtitle">Популярное из рубрик</div>
        </div>
        <div class="home_popular__right">
            <div class="home_subtitle">Акции и новости</div>
            <div class="home_popular__right___content">
                <div *ngFor="let n of news">
                    <app-news-card [text]="n.text" [img]="n.img"></app-news-card>
                </div>
            </div>
        </div>
    </div>


    <div class="home_about">
        <div class="home_title">О сервисе</div>
        <div class="home_about__content">
            <div class="home_about__content___item">
                <div class="home_subtitle">Наша миссия</div>
                Онлайн-площадка, где каждый может сдать временно ненужную или
                арендовать нужную вещь:
                одежду и детские товары, электронику и спортивный инвентарь, инструменты и декор.
                Лучше, чем прокат. Больше, чем доска объявлений.
            </div>
        </div>
    </div>
</div>
<!-- <div class="loader" *ngIf="loader"><app-loader></app-loader></div> -->

