input {
    height: 50px;
    border: 1px solid #cacaca;
    border-radius: 5px;
    padding: 0 2rem;
    display: grid;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.search {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 1rem;
}