<div *ngIf="!loader">
    <div class="smalltitle">
        <span>Главная</span>
        -
        <span>
            {{prod.category.name}}
        </span>
        -
        <span>
            {{prod.subcategory.name}}
        </span>
    </div>
    <div class="title">{{prod.name}}</div>
    <div class="wrapper">
        <div class="left">
            <div class="img">
                <img src="{{prod.image}}" alt="">
                <!-- <div class="rentType">{{prod.typeOfRent}}</div> -->
            </div>
            
            <div class="desc">
                <div class="subtitle">Описание</div>
                {{prod.description}}
            </div>
            <div class="comments">
                <div class="subtitle">Отзывы</div>
            </div>
        </div>
        <div class="right">
            <!-- <div class="right_top">
                <div class="right_top__name">
                    {{prod.name}}
                </div>
                <div class="right_top__price">
                    123123
                </div>
            </div> -->
            <div class="price-list">
                <div class="subtitle">Стоймость аренды</div>
                <div class="price-list_label">
                    <!-- <span>Количество</span> -->
                    <span>Период</span>
                    <span>Стоймость</span>
                    <span>Количество</span>
                    <span>Итого</span>
                </div>
                <div #divElements class="price-list_content">
                    <div *ngFor="let item of tempArray; let i = index">
                        <app-rent-price-counte
                        *ngIf="item.val"
                        [order]="i"
                        (total)="receiveTotal($event)"
                        [price]="item.val"
                        [period]="item.title"></app-rent-price-counte>
                    </div>
                </div>
                <div class="price-list_total">
                    <span><strong>Итого: {{total}} ₸</strong></span>
                </div>
            </div>
            <!-- <div class="subtitle" [ngStyle]="{'margin-top': '0'}">Ваш конфигуратор</div>
            <div class="total">
                <div class="total_item">
                    <select name="" id="">
                        <option value="" selected disabled>Выберите период</option>
                        <option value="">Почасово</option>
                        <option value="">Посуточно</option>
                        <option value="">Понедельно</option>
                    </select>
                </div>
                <div class="total_item">
                    <input class="number" min="1" type="number" placeholder="Кол-во">
                </div>
                <select name="categories" required [(ngModel)]="productModel.category._id" (change)="onBlur()"
            #category="ngModel" [class.is-invalid]="category.invalid && category.touched"
            [class.is-valid]="category.valid">
                <option value="" disabled>Выберите категорию</option>
                <option [value]="o._id" *ngFor="let o of options">{{o.name}}</option>
            </select>
            </div> -->
            <div class="button-group">
                <app-button [type]="'primary'" [text]="'Запросить аренду'"></app-button>
                <app-button [type]="'secondary'" [text]="'Добавить в избранное'"></app-button>
            </div>
            <div class="landlor">
                <div class="subtitle">Арендодатель</div>
                <div class="landor_wrapper">
                    <div class="landor_wrapper__img">
                        <img src="../../../assets/img/user.png" alt="">
                        <!-- надо добавить картинку для пользователя -->
                    </div>
                    <div class="landor_wrapper__text">
                        <div class="landor_wrapper__text___top">
                            <div class="landor_name">{{prod.user.name}}</div>
                            <div class="landor_status">
                                <!-- {{prod.user.email}} -->
                            </div>
                        </div>
                        <div class="landor_text">
                            {{prod.user.phone}}
                        </div>
                        <div class="landor_rating">
                            <!-- рейтингл пользователя -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-notify">
        <span>Так будет выглядеть ваше объявление</span>
         <div class="bottom-notify_buttons">
             <app-button [type]="'primary'" [text]="'Подать объявление'" (click)="onSubmit()"></app-button>
             <app-button [type]="'secondary'" routerLink="/product-create" [text]="'Вернуться к редактированию'"></app-button>
         </div>
    </div>
</div>

<div class="loader" *ngIf="loader">
    <app-loader></app-loader>
</div>