.item{
    height: 50px;
    /* padding: 0 1rem; */
    display: grid;
    grid-template-columns: repeat(3, 1fr) 80px;
    border-top: 1px solid #b8b8b8;
    align-items: center;
}
.item :last-child {
    text-align: end;
}
.item_qnt {
    display: grid;
    grid-template-columns: repeat(3, 28px);
    justify-items: center;
    align-items: center;
}
.item_qnt__button {
    cursor: pointer;
    display: grid;
    background: rgb(238, 238, 238);
    /* border-radius: 50%; */
    border-radius: 5px;
    width: 28px;
    height: 28px;
    align-items: center;
    justify-content: center;
}